body {
	image-rendering: pixelated;
	background-color: #29BB8E;
}

#fundo {
	top: -800%;
	z-index: 1;
	left: -800%;
	width: 1500%;
	height: 1500%;
	position: fixed;
	background-repeat: space;
	background-repeat: repeat;
	image-rendering: pixelated;
	animation: carrega_fundo 1s;
	filter: drop-shadow(1px 1px 5px);
}

#icone_item {
	opacity: 0;
	z-index: 1;
}

.js-fillcolor {
	top: 0px;
	left: 0px;
	z-index: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	animation: carrega_fundo 1s;
}

#filtro_gradiente {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1 !important;
	background: rgb(1, 1, 5);
	background: linear-gradient(0deg, rgba(1, 1, 5, 0.6530987394957983) 13%, rgba(0, 0, 0, 0.3449754901960784) 55%, rgba(255, 255, 255, 0) 96%);
}

#filtro_carrega {
	top: 0px;
	left: 0px;
	opacity: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #29BB8E;
	animation: esconde_fundo 1s;
	box-shadow: inset 0px 0px 50px black;
}

#programmers_art {
	right: 2%;
	bottom: 2%;
	z-index: 6;
	opacity: .2;
	padding: 5px;
	position: fixed;
	padding-top: 10px;
	border: solid 0px;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, .2);
}

@keyframes carrega_fundo {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes esconde_fundo {
	0% {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}